main{
  display: flex;
}
header{
  height:40px;
  width:100%;
  border:1px solid black;
  display:flex;
}

#gridBox{
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.mainBar{
  border: 1px solid black;
  width: 80%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.sideBar{
  border: 1px solid black;
  height: 100vh;
  width: 20%;
  /*display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;*/
}
.sideCrate{
  width:100%;
  border: 1px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.box{
  box-sizing: border-box;
  border: 1px solid black;

}
